*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0
}
html, body, #root{
    height: 100%;
}
body{
    background-color:  rgb(218, 218, 218)
}
body, input, button{
    font-family: Arial, Helvetica, sans-serif
}